/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.wallpaperflare.com%2Fsearch%3Fwallpaper%3Dandroid%2Brobot&psig=AOvVaw1E8QgS1_M76x1vez6i08kG&ust=1738743865683000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCLCA--XLqYsDFQAAAAAdAAAAABAE); /* Path to your background image */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    top: 0;
}
.content{
    height: 700px;
}
#cap{
    height: 100px;
    border-radius: 70px;
}
.nav-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    /* margin-left: 20px; */
    margin: auto 50px auto 10px;
    
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar button {
  background-color:#E5E4E2;
  border-radius:20px;
 
}
.navbar button a{
  color: black;
}

.nav-links a:hover {
    color: #50adf4; /* Golden color on hover */
}

.welcome-section {
    padding: 150px 20px 50px; /* Adjusted padding to accommodate fixed navbar */
    background-color: rgba(0, 0, 0, 0.6);
    font-family: cursive;
}

.about-section {
    margin-top: 100px;
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
}

@media (max-width: 600px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 20px;
    }
}
